.main {
  width: 100%;
}
.main .main_content {
  width: 100%;
}
.main .main_content ul {
  width: 100%;
}
.main .main_content ul li {
  width: 100%;
}
.main .main_content ul li a {
  display: block;
  width: 100%;
}
.main .main_content ul li a img {
  display: block;
}
